header {
  position: static;
  text-align: center;
  padding: 12px;
  background-color: rgba(100%, 100%, 100%, 50%);
  font-family: 'Special Elite', cursive;
  font-size: 35px;
  font-weight: bold;
}

h2 {
  font-size: 25px;
}
ol li {
   font-family: 'Barlow Condensed';
  text-align: left;
  font-weight: bold;
  width: 400px;
  padding: 3px;
  font-size: 18px;
  padding-top: 1px;
  padding-right: 100px;
  padding-bottom: 10px;
  padding-left: 100px;
}
img {
  top: 0;
  width: 400px;
  max-width: 100%;
background-color: rgba(100%, 100%, 100%, 50%);
border: solid 2px;
}
body {
   display: flex;
   flex-wrap: wrap;
   justify-content:center;
}
