body {
  background-image: linear-gradient(to bottom, rgb(191, 234, 249), rgb(250, 246, 217), rgb(250, 246, 217));
}

header {
background: url('../img/picture-b.JPG');
background-position: center;
background-size: cover;
background-repeat: no-repeat;
width: auto;
margin: auto;
padding: 50px;
}

h1 {
  background-color: inherit;
  color: rgba(255, 255, 255);
  font-family: 'Francois One', sans-serif;
  font-size: 100px;
  text-align: center;
}
p {
  font-family: 'Work Sans', sans-serif;
  font-size: 25px;
  line-height: 1.5
}
ol {
  font-family: 'Work Sans', sans-serif;
}
#quote {
  background: url('../img/picture-a.JPG') scroll 0 0/ cover;
  background-color: inherit;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  text-align: center;
  font-size: 30px;
  color: white;
}
.article:nth-of-type(2) {
  background-color: inherit;
  color: black;
}
.article:nth-of-type(3) > .article--mask {
  margin: 20px;
  padding: 30px;
  background-color: inherit;
  color: black;
}
.article:nth-of-type(4) {
  background: url('../img/picture-c.JPG') fixed;
  background-size: cover;
  background-repeat: no-repeat;
  }
.article:nth-of-type(4) > .article--mask {
    margin: 20px;
    padding: 30px;
    background-color: rgba(250, 246, 217, .75);
    color: black;
  }