header {
   font-family: 'Roboto Slab', serif;
   font-size: 200%;
   margin: 5%;
}

body {
   height: 1500px;
}

#review-content {
   margin: 2% 5%;
   line-height: 25px;
}

#name-of-artist {
   position: relative;
   right: 22px;
   margin: 1em;
   font-family: 'Roboto Slab', serif;
   font-size: 75%;
   font-weight: lighter;
}
