:root {
  --margin: 20px;
  --typeface--level-1-heading: 'Manrope', sans-serif;
  --typeface--reading: 'Nunito', sans-serif;
  --font-size--level-1-heading: 5rem;
  --font-size--level-2-heading: 1.0rem;
  --width-image: 1800px;
  --width--primary-image: 1000px;
  --width-body: calc(4 * var(--width-image) + 30px);
}
