:root {
  --margin: 20px;
  --typeface--level-1-heading: 'Manrope', sans-serif;
  --typeface--reading: 'Nunito', sans-serif;
  --font-size--level-1-heading: 5rem;
  --font-size--level-2-heading: 1.0rem;
}
